<div class="container">
  <form class="form" (ngSubmit)="guardar()" #forma="ngForm">
    <div class="options">

      <fieldset class="seleccionar contenedor-interno">
        <legend>Tipos de comida</legend>

        <div class="tipos">
          <label for="tipo1">Tipo 1: </label>
          <select 
            class="tip"
            [(ngModel)]="plato.tipo1"
            (change)="onSelectTipo1($event.target)"
            id="tipo1"
            #tipo1="ngModel"
            value={{tipo1}}
            name="tipo1"
            required
            minlength="3"
          >
            <option *ngFor="let ingrediente of tipos1" value={{ingrediente}}>{{ingrediente}}</option>
          </select>
        </div>
        
        <div class="tipos">
          <label for="tipo2">Tipo 2: </label>
          <select
            class="tip"
            [(ngModel)]="plato.tipo2"
            name="tipo2"
            id="tipo2" 
            (change)="onSelectTipo2($event.target)"
            id="tipo2"
            #tipo2="ngModel"
            value={{tipo2}}
            required
            minlength="3"
          >
            <option *ngFor="let ingrediente of tipos2" value={{ingrediente}}>{{ingrediente}}</option>
          </select>
        </div>
        
        <div class="tipos">
          <label for="tipo3">Tipo 3: </label>
          <select
            class="tip"
            [(ngModel)]="plato.tipo3"
            name="tipo3"
            #tipo3="ngModel"
            value={{tipo3}}
            id="tipo3"
            required
            minlength="3"
          >
            <option *ngFor="let ingrediente of tipos3" value={{ingrediente}}>{{ingrediente}}</option>
          </select>
        </div>
      </fieldset>

      <div class="seleccionados contenedor-interno">
        <div *ngFor="let res of platos">
          {{res.tipo1}} - {{res.tipo2}} - {{res.tipo3}}
        </div>
      </div>
    </div>

    <div class="buttons">
      <button type="submit" [disabled]="!forma.valid">Guardar</button>
      <button type="button" (click)="limpiar()">Limpiar</button>
    </div>
  </form>
</div>
